button.filter,a.see{
	padding: 6px 12px;
	background:linear-gradient(#027,#000,#E22);
	border-radius: 10px;
	border: none;
	overflow: hidden;
	position: relative;
}

button.filter::before,
.see::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	transition-duration: 0.5s;
	z-index: 2;
}

button.filter:hover::before,
.see:hover::before{
	background-color: rgba(0, 0, 0, 0.2);
}

button.filter span,
.see span{
	position: relative;
	color: #fff;
}

.see{
	color: #fff;
}

#Filter select,
#Filter input{
	background: rgba(0, 0, 0, 0.5);
	border: none;
	transition-duration: 0.5s;
}

#Filter select:focus,
#Filter input:focus{
	border: 1.5px solid var(--main-color);
    background-color: transparent;
    box-shadow: 0 0 0 0.5px var(--main-color);
}

#Data .image{
	overflow: hidden;
}

#Data .image img{
	height: 150px;
	transform: scale(1.0);
	transition-duration: 0.5s;
}

#Data .image:hover img{
	transform: scale(1.2);
}

#Data .card{
	transform: translateY(0);
	transition-duration: 0.5s;
	width: 280px;
	min-height: 380px;
	border-radius: 10px;
}

#Data .card:hover{
	transform: translateY(-15px);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#Data .card{
	--bs-card-bg: rgba(0, 0, 0, 0.5);
	position: relative;
}

#Data .card p{
	color: #fff;
}

#Data .card a{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

#Data .card-title{
	color:var(--main-color);
}

select.form-select#Category {
    --bs-form-select-bg-img: "";
}

.page-link{
	cursor: pointer;
}

#Filter label{
	color: var(--main-color);
    font-weight: 800;
    letter-spacing: 1px;
}